
*{
    box-sizing: border-box;
    
}
body {
   
    background: linear-gradient(90deg, 
     rgb(255, 0, 0) 0%,
      rgb(255, 128, 0) 35%, 
      rgb(102, 255, 0) 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family:sans-serif, Times, 'Times New Roman', serif 'Times New Roman', Times, serif;
      margin:  auto;
}

h1 {
    letter-spacing: 3px;
    transition: all 0.2s;
    font-size: 60px;
    color: rgb(73, 73, 73);
}

.poke-container{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
.pokemon{
    
    padding: 20x;
    margin: 80px;
    text-align: center;
    margin-top: 20px;
    height: 250px ;
    width: 400px;
    box-shadow: 0 5px 15px 0 rgba(150, 48, 143, 0.37);
    border-radius: 25px;
    border: 1.5px solid rgba(245, 242, 242, 0.18);
    transition: all 0.2s;
    background: rgb(90, 90, 90);
background: rgba(59, 59, 59, 0.205)
 
}

.img-container {
    align-items:center;
    size: 100%;

}

.pokemon.info{
    margin-top: 20px;

}

.data{
color:rgb(233, 233, 233) ;
}

.pokemon:hover{
    transform: scale(1.1);
}

.pokemon:hover .data{
    color:rgb(255, 255, 255);

}

.img-container:hover{
    transform: scale(1.9);
}
h1:hover {
    letter-spacing: 5px;
    transform: scale3d(0.5);
}